body {
    background-color: #1b1c1c;
}

header {
    text-align: center;
}

table {
    background-color: #363636;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;

}

a,
tr {
    color: white;
}