{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/index/style.css" %}">
    <title>Games API</title>
</head>
<body>
    <header>
        <div id="search">
            <form method="POST">
                {% csrf_token %}
                <input type="search" name="query" id="query">
                <input type="submit" value="Search">
            </form>
        </div>
    </header>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Reviews</th>
            <th>Publisher</th>
            <th>Platforms</th>
            <th>Release</th>
        </tr>
        {% for game in games %}
            <tr>
                <td><a href="#">{{ game.title }}</a></td>
                <td><a href="#">{{ game.reviews }} of 5⭐.</a></td>
                <td><a href="#">{{ game.publisher }}</a></td>
                <td><a href="#">{{ game.platforms }}</a></td>
                <td><a href="#">{{ game.release }}</a></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>